body{
    margin: 0;
}


.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 26, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo > h1{
    color: rgb(251, 223, 162);
}

.form{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(126, 81, 49);
    border-radius: 20px;
    box-shadow: 0px 20px 40px #00000055 ;
}

.box > h1,h3{
    color: rgb(251, 223, 162);
    font-weight: 800;
    margin: 0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background: rgb(251, 223, 162);
    font-size: 12px;
    box-shadow: #00000055;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: rgb(248, 237, 214);
}

.button{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgb(251, 223, 162);
    cursor: pointer;
    box-shadow: 0px 10px 40px #00000055;
}

.img{
    width: 100%;
    height: 100%;

}