body{
    background-color: rgb(248, 237, 214);
    
}

#cabecalho{
    background-color:rgb(38, 26, 14);  
    /*rgb(55, 36, 20)*/
}

a {
    color: rgb(251, 223, 162);
    text-decoration: none;
    transition: color 0.5s ease;
}

#cabecalho a{
    font-family: sans-serif ;

}

#about{
    border: 2px solid;
    border-color: rgb(248, 237, 214) !important;
    border-radius: 2px;
}

a:hover{
    color: rgb(126, 81, 49);
    
}

#rodape{
    color: rgb(251, 223, 162);
    background-color: rgb(38, 26, 14);

}

#rodape p>a{
    color:rgb(126, 81, 49);
    text-decoration: none;
}

#rodape p>a:hover{
    color:rgb(248, 237, 214)
}

button{
    background-color: transparent;
    border-color: transparent;
}