.conteiner{
    display: flex;
    flex-direction: row;
    width: 700px;
    align-items:center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

.box{
    display: flex;
    flex-direction: row;
    width: 700px;
    align-items:center;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}

*{
    box-sizing: border-box;
}

.img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 1;


}
html, body{
    margin: 0px;
    padding: 0px;
}


#cabecalho{
    width:100%;
}

body, a, p, li{
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3{
    font-family: 'Playfair display';
    font-weight: 300;
   
}


#column{
    flex-direction: column;

}

#info{
    margin-top: 20px;
    margin-bottom: 20px;
}


#about{
    width: 100%;
    text-align: center;
}

.menu{ 
    list-style-type: none;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;

     
}

.div_section{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;;
    
}


.div_section_text{
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
}

#contato, #lista_redes{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.div_copyright{
    width: 100%;
    text-align: center;
}

.div_copyright p {
    margin: 0px;
}

.menu_list{
    margin-left: 5%;
    margin-right: 5%;
}
.menu > li {
    padding-left: 30px;
}

#lista_redes > li {
    padding-left: 0px;
    padding-right: 30px;
}

